In [1]:
import os
os.chdir("..")

In [ ]:
from datetime import date
from src.submodules.jp_index.src.models import init_awards_table
from src.submodules.jp_index.src.viz.data_viz import DataGraph

di = DataGraph(database_file="data/data.ddb")

ImportError: cannot import name 'DataGraph' from 'src.submodules.jp_forms.src.viz.data_viz' (/home/ouslan/Documents/Github/jp-api/src/submodules/jp_forms/src/viz/data_viz.py)

In [ ]:
di.

In [3]:
current_year = date.today().year

for year in range(2008, current_year + 1):
    di.insert_awards_by_year(year)

2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

InvalidInputException: Invalid Input Error: Python Object "df" of type "NoneType" found on line "/home/ouslan/Documents/Github/jp-api/src/submodules/jp_index/src/data/data_pull.py:802" not suitable for replacement scans.
Make sure that "df" is either a pandas.DataFrame, duckdb.DuckDBPyRelation, pyarrow Table, Dataset, RecordBatchReader, Scanner, or NumPy ndarrays with supported format

In [ ]:
df = di.conn.sql(
                f"SELECT * FROM AwardTable WHERE fiscal_year = {2009}"
            ).pl()
df.is_empty()

In [ ]:
di.pull_awards_by_year(2009)

In [ ]:
di.conn.sql("SELECT * FROM 'AwardTable';").pl()

In [ ]:
if "AwardTable" not in di.conn.sql("SHOW TABLES;").df().get("name").tolist():
    init_awards_table(di.data_file)

In [ ]:
di.conn.sql("SHOW TABLES;").df().get("name").tolist()

In [ ]:
from src.submodules.jp_imports.src.data.data_process import DataTrade
import polars as pl

dt = DataTrade(database_file="/home/ouslan/Documents/Github/jp-api/data/data.ddb")

In [ ]:
df = dt.process_int_jp(level_filter="", level="hts", time_frame="yearly")
df = df.with_columns(
    hts_code_first2=pl.col("hts_code").str.slice(0,2)
)
df

In [ ]:
  # Extraer las primeras dos posiciones
unique_first2_codes_df = df.select(pl.col("hts_code_first2").unique()).to_series().to_list()  
unique_first2_codes_df

In [ ]:
df = dt.insert_int_jp()

In [ ]:
df

In [ ]:
df.filter(pl.col("date").dt.year() == 2009)