In [1]:
import os
os.chdir("..")

In [2]:
from datetime import date
from src.submodules.jp_index.src.graphs import DataGraph

di = DataGraph(database_file="data/data.ddb")

In [3]:
current_year = date.today().year

for year in range(2008, current_year + 1):
    di.insert_awards_by_year(year)

2021
2022
2023
2024
2025

In [ ]:
df = di.conn.sql(
                f"SELECT * FROM AwardTable WHERE fiscal_year = {2009}"
            ).pl()
df.is_empty()

In [ ]:
di.pull_awards_by_year(2009)

In [ ]:
di.conn.sql("SELECT * FROM 'AwardTable';").pl()

In [ ]:
if "AwardTable" not in di.conn.sql("SHOW TABLES;").df().get("name").tolist():
    init_awards_table(di.data_file)

In [ ]:
di.conn.sql("SHOW TABLES;").df().get("name").tolist()

In [ ]:
from src.submodules.jp_imports.src.data.data_process import DataTrade
import polars as pl

dt = DataTrade(database_file="/home/ouslan/Documents/Github/jp-api/data/data.ddb")

In [ ]:
df = dt.process_int_jp(level_filter="", level="hts", time_frame="yearly")
df = df.with_columns(
    hts_code_first2=pl.col("hts_code").str.slice(0,2)
)
df

In [ ]:
  # Extraer las primeras dos posiciones
unique_first2_codes_df = df.select(pl.col("hts_code_first2").unique()).to_series().to_list()  
unique_first2_codes_df

In [ ]:
df = dt.insert_int_jp()

In [ ]:
df

In [ ]:
df.filter(pl.col("date").dt.year() == 2009)